@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* .bg-black{
  background: #ffdf00;
} */


/* .text-gray-400{
  color: #353535;
} */


.dbg-black{
  background-color: #fffef5;
}


.from-neutral-50{
  color: #ffdf00;
}

.to-neutral-400{
  color: #c29c3d;
}

.text-neutral-300{
  color: #e2d688;
}

.text-zinc-100{
  color: #c29c3d;
}

.text-zinc-400{
  color: #e2d688;
}

.bg-neutral-200{
  background-color: #ffdf00;
}

.darkbg-slate-800{
  background-color: #d9bc001a;
}


.text-gray-100{
  color: #ffdf00;
}

.text-gray-400{
  color: #fff3a8;
}

.text-white{
  color:#c29c3d
}

.darktext-white{
  color: #ffdf00;
}

.bg-gray-50{
  color: #e2d688;
}

.text-neutral-600{
  color: #c29c3d;
}

.text-neutral-400{
  color: #c29c3d;
}

.darktext-neutral-300{
  color: #e2d688;
}

.text-neutral-500{
  color: #e2d688;
}


.p-0{
  margin-bottom: -15rem;
}

.btnprimary{
  background-color: #ffdf00;
}

@media (max-width: 1024px) {
  .p-0{
    margin-bottom: -10rem;
  }
  
  .Heritage{
    margin-bottom: 30rem;
    padding-bottom: 12rem;
  }
}


@media (max-width: 640px) {
  .p-0{
    margin-bottom: 0rem;
  }

  
  .safe{
    transform: translateX(-14%);
  }

  
  .center{
    transform: translateY(100%);
  }

  .width{
    width: 100px;
  }

  .hided{
    display: none;
  }

  .mobile{
    display: block;
  }
}


.Heritage{
  margin-bottom: -10rem;
}


.text-neutral{
  color: white
}

.width{
  width: 170px;
  margin: auto;
  padding-top: 1rem;
}

.max-w-screen{
  overflow: hidden;
 width: 98vw;
}

.text-black{
  color: white
}

.img-container-product{
  background-image: url('../../public/b29323ea-c8a4-45c0-85bf-c1a0b3003132.jpg');
  background-position-y: center;
  background-size: cover;
  width: 100%;
  height: 250px;
}

.text-wite{
  color: white;
  margin: auto;
  transform: translateY(300%);
}

.from-neutral{
  color: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.min-h{
  margin-bottom: -5rem;
  padding-bottom: -5rem;
  z-index: 1;
}

.artboard {
  background-image: url('bitcoin-7260.gif');
  background-size: cover;
}


.bg-black{
  background-color: none;
}

.text-color{
  color: white;
}

.nav{
  /* margin-bottom: -3rem; */
}

.logo{
  position: absolute;
  left: 1rem;
  letter-spacing: -1px;
  font-family: serif;
}

.mobile-logo{
  letter-spacing: -1px;
  font-family: serif;
}

@media (min-width: 640px) {

  .mobile{
    display: none;
  }
}


.exit{
  position: fixed;
  right: 10px;
  top: 10px;
}

.mobile-menu{
  position: absolute;
  top: 70px;
  left: 0px;
  display: none;
}


.open:hover ~ .mobile-menu{
  left: 100px;
}

/* When the checkbox is checked, swap the icons */
/* input[type="checkbox"]:checked ~ .mobile-menu ~ .swap-off{
  display: block;
} */


.draw{
  position: absolute;
  top: -30px;
  right: 0;
}

.btn-primary{
  background-color: #303030;
}

.btn:hover{
  background-color: #252525;
}

.hover:hover{
  background-color: #3e3e3e;
}

.descriptin{
  margin-top: -3rem;
  text-align: justify;
}

/* .descriptin-0{
  margin-top: -1rem;
} */


.hided{
  z-index: 1000;
}