@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* .bg-black{
  background: #ffdf00;
} */


/* .text-gray-400{
  color: #353535;
} */


.dbg-black{
  background-color: #fffef5;
}


.from-neutral-50{
  color: #ffdf00;
}

.to-neutral-400{
  color: #c29c3d;
}

.text-neutral-300{
  color: #e2d688;
}

.text-zinc-100{
  color: #c29c3d;
}

.text-zinc-400{
  color: #e2d688;
}

.bg-neutral-200{
  background-color: #ffdf00;
}

.darkbg-slate-800{
  background-color: #d9bc001a;
}


.text-gray-100{
  color: #ffdf00;
}

.text-gray-400{
  color: #fff3a8;
}

.text-white{
  color:#c29c3d
}

.darktext-white{
  color: #ffdf00;
}

.bg-gray-50{
  color: #e2d688;
}

.text-neutral-600{
  color: #c29c3d;
}

.darktext-neutral-300{
  color: #e2d688;
}

.text-neutral-500{
  color: #e2d688;
}


.p-0{
  margin-bottom: -15rem;
}

.btnprimary{
  background-color: #ffdf00;
}

@media (max-width: 1024px) {
  .p-0{
    margin-bottom: -10rem;
  }
  
  .Heritage{
    margin-bottom: 30rem;
    padding-bottom: 12rem;
  }
}


@media (max-width: 640px) {
  .p-0{
    margin-bottom: 0rem;
  }
}


.Heritage{
  margin-bottom: -10rem;
}


.text-neutral{
  color: white
}

.width{
  width: 200px;
  margin: auto;
  padding-top: 1rem;
}

.max-w-screen{
  overflow: hidden;
 width: 98vw;
}